[Desktop Entry]
Name=Simple Glass
Comment=Aurorae decoration to match Simple Glass Plamsa
X-KDE-PluginInfo-Name=Simple Glass
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=magpie240@gmx.com
X-KDE-PluginInfo-Category=Aurorae Theme
X-KDE-PluginInfo-Depends=KDE4
X-KDE-PluginInfo-Version=1.2
X-KDE-PluginInfo-License=GPL V2
X-KDE-PluginInfo-EnabledByDefault=true
